@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.admin_content_wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  height: calc(100vh - 72px);

  border: 1px solid red;
}
